.ui.header {
  margin: 1rem 0 1rem;
}

body {
  background-color: #f5f5f5 !important;
}

.white-bg {
  background-color: white !important;
}


.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.timeline {
  width: 100%;
  position: absolute;
  border: 1px solid red;
  left: -10px;
}

.timeline-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  border: 1px solid red;
  top: -3px;
  left: -12px;
}

.agenda__calendar {
  width: calc(100% - 50px);
  padding: 0 10px;
  background-color: #fff;
  margin-left: 60px;
}

.agenda__error {
  background-color: #ff9494;
  padding: 15px;
  margin: 20px 0;
  font-size: 12px;
}

.calendar__container {
  position: relative;
}

.calendar__event {
  background: #f5f5f5;
  position: absolute;
  font-size: 12px;
  border-left: 4px solid #b24747;
  overflow: hidden;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.calendar__event.open {
  border-color: #47b28d;
}

.calendar__event__content {
  margin: 5px;
}

.calendar__event__content__title {
  color: #b24747;
}

.calendar__event__content__title.open {
  color: #47b28d;
}

.calendar__event__content__location {
  font-style: italic;
}

.calendar__divisor {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  margin-left: -10px;
  padding-right: 20px;
}

.calendar__divisor__time {
  margin-left: -80px;
  margin-top: -8px;
  position: absolute;
  font-size: 12px;
  text-align: right;
  width: 60px;
}
